{% load static %}
<!DOCTYPE html>
<html>
<head>
<title>Odionye Jude - Curriculum Vitae</title>

<meta name="viewport" content="width=device-width"/>
<meta name="description" content="The Curriculum Vitae of Odionye Jude."/>
<meta charset="UTF-8">

<link type="text/css" rel="stylesheet" href="{% static 'css/style.css' %}">
<link href='http://fonts.googleapis.com/css?family=Rokkitt:400,700|Lato:400,300' rel='stylesheet' type='text/css'>

<!--[if lt IE 9]>
<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
</head>
<body id="top">
<div id="cv" class="instaFade">
	<div class="mainDetails">
		<div id="headshot" class="quickFade">
			<img src="{% static 'images/profilepic.jpg' %}" alt="Odionye Jude" />
		</div>
		
		<div id="name">
			<h1 class="quickFade delayTwo">Odionye Jude</h1>
			<h3 class="quickFade delayThree">Python/Django developer and Data analyst</h3>
		</div>
		
		<div id="contactDetails" class="quickFade delayFour">
			<ul>
				<li><a href="mailto:liljaydon.pj@gmail.com" target="_blank">liljaydon.pj@gmail.com</a></li>
				<li>(+234)8055310207</li>
			</ul>
		</div>
		<div class="clear"></div>
	</div>
	
	<div id="mainArea" class="quickFade delayFive">
		<section>
			<article>
				<div class="sectionTitle">
					<h1>Personal Profile</h1>
				</div>
				
				<div class="sectionContent">
					<p>I am a flexible and fast learner currently utilising the Django web framework and several tools for data entry and data analysis. I am a friendly individual and a good communicator who is helpful and willing to contribute to what I find myself doing. I am able to work independently in busy environments and also within a team setting. I am an outgoing and tactful indivdual. I am quick to respond to solving problems and I listen effectively on the job. I am a motivated, enthusiastic, responsible and hardworking person who will do his best to exceed in any field.</p>
				</div>
			</article>
			<div class="clear"></div>
		</section>

		<br>
		
		
		<section>
			<div class="sectionTitle">
				<h1>Work Experience</h1>
			</div>
			
			<div class="sectionContent">
				<article>
					<h2></h2>
					<p class="subDetails"></p>
					<p>An analytical and detail-oriented aspiring back-end developer currently on an undergraduate programme for a B.Sc. in Computer Science. I apply mathematical and logical minded applications in university course work and practicals in computer and externals courses. Interested in obtaining an entry-level position in data analytics field, backend development field and any other computer science applied field.</p>
				</article>
			</div>
			<div class="clear"></div>
		</section>

		<br>
		
		<section>
			<div class="sectionTitle">
				<h1>Key Skills</h1>
			</div>
			
			<div class="sectionContent">
				<ul class="keySkills">
					<li>Python</li>
					<li>HTML</li>
					<li>MS Office</li>
					<li>Time management</li>
					<li>Database</li>
					<li>Data Analytics</li>
					<li>Critical thinking</li>
					<li>Adaptability</li>
				</ul>
			</div>
			<div class="clear"></div>
		</section>

		<br>
		
		<section>
			<div class="sectionTitle">
				<h1>Education</h1>
			</div>
			
			<div class="sectionContent">
				<article>
					<h2>Immaculate Conception College</h2>
					<p class="subDetails">Secondary school education: 2011 - 2017</p>
					<p>Awards in Data processing, Mathematics, Further Mathematics and Physics.</p>
				</article>
				<br>
				<article>
					<h2>University of Nigeria, Nsukka.</h2>
					<p class="subDetails">B.Sc. Computer Science: 2017 - 2021</p>
					<p>Currently a student</p>
				</article>
				<br>
			</div>
			<div class="clear"></div>
		</section>

		<br>

	</div>
</div>
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
var pageTracker = _gat._getTracker("UA-3753241-1");
pageTracker._initData();
pageTracker._trackPageview();
</script>
</body>
</html>